@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default tag styles */
::selection {
    color: theme("textColor.white");
    background: theme("backgroundColor.pink");
}

body {
    color: theme("textColor.black");
    font-size: theme("fontSize.base");
    font-family: "Mulish", sans-serif;
    margin-top: theme("height.navbar");
    background-color: theme("backgroundColor.grey-100");
}

h1, h2, h3 { font-family: "Playfair", "sans-serif"; margin-bottom: theme("margin.16px"); }

h1 { font-size: theme("fontSize.4xl"); }
h2 { font-size: theme("fontSize.3xl"); }
h3 { font-size: theme("fontSize.2xl"); }
h4 { font-size: theme("fontSize.xl"); }

p { margin-bottom: theme("margin.16px"); }

input:focus, button:focus, a:focus { outline: none; }
button { font-family: "Mulish", sans-serif; }

/* Additional tags */
.outline-none { outline: none; }
.border-none { border: none; }

/* Responsive overrides */
@media (max-width: 1200px) {
    h1 { font-size: 36px; }
    h2 { font-size: 28px; }
 }

/* Load fonts */
/* - mulish */
@font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: normal;

    src: url("/fonts/mulish/regular.ttf");
}
@font-face {
    font-family: "Mulish";
    font-style: italic;
    font-weight: normal;

    src: url("/fonts/mulish/italic.ttf");
}
@font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;

    src: url("/fonts/mulish/semibold.ttf");
}
@font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: bold;

    src: url("/fonts/mulish/bold.ttf");
}

/* - playfair */
@font-face {
    font-family: "Playfair";
    font-style: normal;
    font-weight: normal;

    src: url("/fonts/playfair/regular.ttf");
}
@font-face {
    font-family: "Playfair";
    font-style: italic;
    font-weight: normal;

    src: url("/fonts/playfair/italic.ttf");
}
@font-face {
    font-family: "Playfair";
    font-style: normal;
    font-weight: bold;

    src: url("/fonts/playfair/bold.ttf");
}